PORT=3000
# Local MongoDB example:
# MONGODB_URI=mongodb://127.0.0.1:27017/note-taking-app-mt
# Local MongoDB test DB example (recommended for running tests):
# MONGODB_URI_TEST=mongodb://127.0.0.1:27017/note-taking-app-mt-test
# SESSION_SECRET=
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
